<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2><%= resource_name.to_s.humanize %></h2>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :変更前のパスワード %>
          <br>
          <!--<i>(leave blank if you don't want to change it)</i><br />-->
          <%= f.password_field :password, autocomplete: "new-password" %>
          <br>
          <% if @minimum_password_length %>
            <br/>
            <em><%= @minimum_password_length %> 文字以上 <em>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :新しいパスワード %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :新しいパスワード（確認用） %><br>
          <!--<i>(we need your current password to confirm your changes)</i><br />-->
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "更新する", class: "glyphicon btn-sm btn-primary" %>
        </div>
      <% end %>
      <br>
      <p><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete %></p>

      <%= link_to "戻る", :back %>
    </div>
  </div>
</div>
