<div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h3 class="mypage-logo text-center">マイページ</h3>
        <strong class="mypage-link">登録情報</strong>
        <%= link_to '編集する', edit_customers_path, class: "btn btn-primary mypage-btn" %>
        <%= link_to 'パスワードを変更する', edit_customer_registration_path, class: "btn btn-primary mypage-btn" %>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="info col-xs-2">氏名</th>
              <td><%= @customer.family_name %><%= @customer.first_name %></td>
            </tr>
          <tr>
          <th class="info col-xs-2">カナ</th>
            <td>
              <%= @customer.family_name_kana %>
              <%= @customer.first_name_kana %>
            </td>
          </tr>
          <tr>
            <th class="info col-xs-2">郵便番号</th>
            <td>
              <%= @customer.zipcode %>
            </td>
          </tr>
          <tr>
            <th class="info col-xs-2">住所</th>
            <td>
              <%= @customer.address %>
            </td>
          </tr>
          <tr>
            <th class="info col-xs-2">電話番号</th>
            <td>
              <%= @customer.phone_number %>
            </td>
          </tr>
          <tr>
            <th class="info col-xs-2">メールアドレス</th>
            <td>
              <%= @customer.email %>
            </td>
          </tr>
        </tbody>
        </table>
        <p>
          <strong>配送先</strong>
          <%= link_to '一覧を見る', addresses_path, class: "btn btn-primary" %>
        </p>
        <p>
          <strong>注文履歴</strong>
          <%= link_to '一覧を見る', orders_path, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


<h1>本当に退会しますか？</h1>
<p>退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。退会する場合は、「退会する」をクリックしてください。</p>

  <%= link_to "退会する", out_customers_path(current_customer), method: :patch, "data-confilm" => "本当に退会しますか？" %>



<h1>マイページ</h1>
<h1>登録情報</h1>
<%= link_to '編集する', edit_customer_path %>
<table>
<tbody>
  <tr>
<p>氏名</p><%= @customer.family_name %>
<%= @customer.first_name %>
<p>カナ</p><%= @customer.family_name_kana %>
<%= @customer.first_name_kana %>
</tr>
<tr>
<p>郵便番号</p><%= @customer.zipcode %>
</tr>
<tr>
<p>住所</p><%= @customer.address %>
</tr>
<tr>
<p>電話番号</p><%= @customer.phone_number %>
</tr>
<tr>
<p>メールアドレス</p><%= @customer.email %>
</tr>
</tbody>
</table>