<div class= "container">
  <div class= "row">
    <div class="title">
      <h2>商品編集</h2>
    </div>
    <%= form_with model:@item, url: admin_item_path(@item.id), local:true do |f| %>
      <div class="col-xs-3">
　      <div class="field">
      　   <%= f.label :商品画像 %>
      　   <%= f.attachment_field :image %>
　      </div>
　    </div>
      <div class="col-xs-9">
        <div class="field">
              <%= f.label :商品名 %>
              <%= f.text_field :name%>
        </div>
        <br>
        <div class="field">
         <%= f.label :商品説明 %>
         <%= f.text_area :explanation%>
        </div>
        <br>
        <div class="field">
          <%= f.label :ジャンル %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt =>'---選択してください---' %>
        </div>
        <br>
        <div class="field">
          <%= f.label :税抜き価格 %>
          <%= f.text_field :non_taxed_price%>円
        </div>
        <br>
        <div class="field">
          <label class="control-label sr-only">販売ステータス</label>
          <%= f.label :販売ステータス %>
          <%# byebug %>
          <%= f.select :on_sale, [["販売中",true], ["販売停止",false]] %>
        </div>
        <br>
        <div class="actions">
         <%= f.submit :"変更を保存する", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
