<div class= "container">
 <div class= "row">
  <h1>商品編集</h1>

 <%= form_with model:@item, url: admin_item_path(@item.id), local:true do |f| %>
  <div class="col-xs-4">

　 <div class="field row">
　   <%= f.label :商品画像 %>
　   <%= f.attachment_field :image %>
　 </div>
　</div>

  <div class="col-xs-8">
   <div class="field row">
     <%= f.label :商品名 %>
     <%= f.text_field :name, class: 'col-xs-3' %>
   </div>


   <div class="field row">
    <%= f.label :商品説明 %>
    <%= f.text_area :explanation, class: 'col-xs-3' %>
   </div>

   <div>
      <%= f.label :ジャンル %>

      <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt =>'---選択してください---' %>
   </div>

   <div class="field row">
      <%= f.label :税抜き価格 %>
      <%= f.text_field :non_taxed_price, class: 'col-xs-3' %>円
   </div>

   <div class="field row">
      <label class="control-label sr-only">販売ステータス</label>
      <%= f.select :on_sale, ["販売中", "販売停止"] ,class: "col-xs-3"%>
   </div>

   <div class="actions row">
    <%= f.submit :"変更を保存する", class: 'btn btn-primary col-xs-3' %>
   </div>
   </div>
    <% end %>
   </div>
  </div>
