<div class= "container">
  <div class= "row">
    <div class="title">
      <h2>商品新規登録</h2>
    </div>

    <%= form_with model:@item, url: admin_items_path, local:true do |f| %>
      <div class="col-xs-4">
    　  <div class="field row">
     　   <%= f.label :商品画像 %>
     　   <%= f.attachment_field :image %>
    　  </div>
    　</div>
      <div class="col-xs-8">
        <div class="item_name">
          <%= f.label :商品名 %>
          <%= f.text_field :name %>
        </div>
        <br>
        <div class="item_explanation">
         <%= f.label :商品説明 %>
         <%= f.text_area :explanation %>
        </div>
        <br>
        <div class="item_genre">
           <%= f.label :ジャンル %>
           <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt =>'---選択してください---' %>
        </div>
        <br>
        <div class="item_non_taxed_price">
           <%= f.label :税抜き価格 %>
           <%= f.text_field :non_taxed_price %>円
        </div>
        <br>
        <div class="item_on_sale">
           <%= f.label :販売ステータス %>
           <%# byebug %>
           <%= f.select :on_sale, [["販売中",true], ["販売停止",false]] %>
        </div>
        <br>
        <div class="actions row">
         <%= f.submit :"新規登録", class: 'btn btn-primary col-xs-3' %>
        </div>
      </div>
    <% end %>
  </div>
</div>



