<h1>商品詳細</h1>

  <div class="col-xs-4">
   <%= form_with model:item, local:true do |f| %>

　 <div class="field row">
　     <label class="control-label sr-only">商品画像</label>
　  <%= attachment_image_tag @item, :image, class: "img-square", fallback: "no_image.jpg", size:"300x300" %>
　 </div>
　　<%= f.attachment_field :image %>
　　<% end %>
　</div>


 <div class="col-xs-8">
   <div class="field row">
    <label class="control-label sr-only">商品名</label>
     <%= @item.name %>
   </div>

   <div class="field row">
    <label class="control-label sr-only">商品説明</label>
     <%= @item.explanation %>
   </div>

   <div class="field row">
    <label class="control-label sr-only">ジャンル</label>
     <%= @item.genre %>
   </div>

   <div class="field row">
    <label class="control-label sr-only">税込み価格（税抜き価格）</label>
     <%= @item.non_taxed_price %>　円
   </div>

   <div class="field row">
    <label class="control-label sr-only">販売ステータス</label>
     <%= @item.on_sale %>
   </div>

   <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-primary " %>

</div>