<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="Title">
        <h2><%= @customer.family_name %><%= @customer.first_name %>さんの会員情報編集</h2>
      </div>
      <br>
      <%= form_with model:@customer, url:admin_customer_path, local:true do |f| %>
        <div class="customer col-xs-10">
          <div class="form-group col-xs-12">
            顧客ID    <%= @customer.id %>
          </div>
          <div class="form-group col-xs-12">
            <%= f.label :"氏名" %>
            <%= f.text_field :family_name, autofocus: true %>
            <%= f.text_field :first_name %>
          </div>
          <div class="form-group col-xs-12">
            <%= f.label :"フリガナ" %>
            <%= f.text_field :family_name_kana %>
            <%= f.text_field :first_name_kana %>
          </div>
          <div class="form-group col-xs-12">
            <%= f.label :"メールアドレス" %>
            <%= f.email_field :email %>
          </div>
          <div class="form-group col-xs-12">
            <%= f.label :"郵便番号" %>
            <%= f.text_field :zipcode %>
          </div>
          <div class="form-group col-xs-12">
            <%= f.label :"住所" %>
            <%= f.text_field :address %>
          </div>
          <div class="form-group col-xs-12">
            <%= f.label :"電話番号" %>
            <%= f.text_field :phone_number %>
          </div>
          <div class="form-group col-xs-12">
            有効
            <%= f.radio_button :is_deleted, :false %>
            退会済み
            <%= f.radio_button :is_deleted, :true %>
          </div>
          <div class="form-group col-xs-12">
            <%= f.submit "変更を保存する", class: "col-xs-2 glyphicon btn-sm btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>