<h2>注文履歴一覧</h2>
<table>
    <thead>
        <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <tb>
                <%= link_to admin_order_path(order) do %>
                  <%= order.created_at %>
                <% end %>
            </tb>
            <tb>
                <%= family_name(order.customer) %>
            </tb>
            <tb>
                <%= order.order_items.count %>
            </tb>
            <tb>
                <%= order.order_status %>
            </tb>
        </tr>
        <% end %>
    </tbody>
</table>
