<div class="container">
  <div class="row">
		<div class="order-show col-xs-10 col-xs-offset-1">
  <div class="title">
    <h1>注文履歴詳細</h1>
  </div>
  <div class="row">
      <div class=" order-info col-xs-7">
        <div class="col-xs-4">購入者</div>
        <div class="col-xs-8">
          <%= family_name(@order) %><%= first_name(@order) %>
        </div>
      </div>
      <div class="field">
        <div class="col-xs-4">配送先</div>
        <div class="col-xs-8">
          <%= zipcode(@order) %><br>
					<%= address(@order) %><br>
				  <%= family_name(@order) %><%= first_name(@order) %>
        </div>
      </div>
      <div class="field">
        <div class="col-xs-8">支払い方法</div>
        <div class="col-xs-8">
          <%= @order.payment %>
        </div>
      </div>
      <%= form_with(@order, url:admin_order_path, method: :patch, local: true ) do |f| %>
          <div class="col-xs-4">注文ステータス</div>
          <div class="col-xs-6">
            <%= f.select order_status, order.order_status %>
            <%= f.submit '更新', class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class=" order-info col-xs-7">
      <table border="1">
        <thead>
          <tr bgcolor="#dcdcdc">
            <th width="30%">商品名</th>
            <th width="10%">単価（税込）</th>
            <th width="10%">数量</th>
            <th width="10%">小計</th>
            <th width="40%">制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td>¥<%= tax_price(order_item.product.non_taxed_price).floor.to_s(:delimited) %></td>
              <td><%= order_item.quantity %></td>
              <tb>¥<%= (sub_price(order_item)*1.1).floor.to_s(:delimited) %></tb>
                <%= form_with(order_item, url: admin_order_item_path),local: true, method: :patch) do |f| %>
                  <tb width="40%"><%= f.submit '更新' %></tb>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-3">
		<table>
			<tr>
        <th>商品合計</th>
				<td>¥<%= total_price(@order_items).floor.to_s(:delimited) %></td>
			</tr>
			<tr>
				<th>送料</th>
				<td>¥<%= @order.shipfee %></td>
			</tr>
			<tr>
				<th>請求金額合計</th>
				<td>¥<%= @order.total_price.floor.to_s(:delimited) %></td>
			</tr>
		</table>
	</div>
</div>