<h1>注文履歴詳細</h1>
<div>購入者</div>
  <% @order.family_name %>
<div>配送先</div>
  <% zipcode(@order), address(@order), name(@order) %>
<div>支払い方法</div>
  <% @order.payment_method %>
<% form_with(@order, url:admin_order_path, method: :patch ) do |f| %>
    <div>注文ステータス</div>
  <% f.select order_status, oder.order_status %>
  <% f.submit '更新' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
      <td><%= order_item.item.name %></td>
      <td>¥</td>
      <td><%= order_item.count %></td>
      <tb>¥<%= price(order_item).to_s %></tb>
        <%= form_with(order_item, url: admin_order_item_path), method: :patch) do |f| %>
          <tb><%= f.submit '更新' %></tb>
        <% end %>
    <% end %>
  </tbody>
</table>
