<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h3>ジャンル検索</h3>
        <% @genres.each do |genre| %>
          <table>
            <td><%= genre.name %></td></br>
          </table>
        <% end %>
    </div>
    <div class="col-xs-8">
      <tr>
        <td><%= attachment_image_tag(@item, :image, :fill,500, 250, fallback: "no_image.jpg") %></td>
        <br>
        <h1 class="imagenamecs"><%= @item.name %></h1>
        <br>
        <td><%= @item.explanation %></td>
        <br>
        <br>
        <h4 class="imagenamecs">￥<%= (@item.non_taxed_price*1.1).floor %>（税込み価格）</h4>
        <br>
        <br>
      </tr>
    </div>
    <div class="col-xs-offset-6">
        <%= form_with model: @cart, url: carts_path, local: true do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :quantity, (1..10).to_a,  class: "form-control product-show-form-control" %>
       		<%= f.submit "カートに入れる" %>
        <% end %>
    </div>
  </div>
</div>