<h1>ジャンル編集</h1>

<%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
　<%= f.text_field :name %>
  <%= f.radio_button :directed_graph, :true,checked: true %>
  <%= f.label :directed_graph, "有効", {value: :true} %>
  <%= f.radio_button :directed_graph, :false,checked: false %>
  <%= f.label :directed_graph, "無効", {value: :false} %>
  <%= f.submit "変更を保存する"%>
<% end %>