<h1>ジャンル一覧・追加</h1>

<%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
    <%= f.label "ジャンル" %>
    <%= f.text_field :name %>

  <%= f.radio_button :directed_graph, :true,checked: true %>
  <%= f.label :directed_graph, "有効", {value: :true} %>
  <%= f.radio_button :directed_graph, :false,checked: false %>
  <%= f.label :directed_graph, "無効", {value: :false} %>
  <%= f.submit "追加"%>
<% end %>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>状態</th>
    </tr>
  </thead>

<tbody>
<% @genres. each do |genre| %>

<td><%= genre.name %></td>
<td><%= genre.directed_graph %></td>
<td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
</tbody>
</table>

<% end %>