<h1>ショッピングカートcreate</h1>

<%= link_to "カートを空にする", all_destroy_carts_path, method: :delete, class: "btn btn-sm btn-danger" %>
<table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>


      <tbody>
        <%# @cart.each do |cart| %>
          <tr>
            <td><%= attachment_image_tag(@cart.item, :image, :fill,500, 250, fallback: "no_image.jpg") %></td>
            <td><%= @cart.item.name %></td>
            <td>¥<%= tax_price(@cart.item.non_taxed_price).floor %></td>
            <td><%= @cart.quantity %></td>
            <td>¥<%= (sub_price(@cart)*1.1).floor %></td>
            <%= form_with model: @cart, local: true do |f| %>
            <%= f.select :quantity, (1..10).to_a,  class: "form-control product-show-form-control" %>
		 　　　　 <%= f.submit "変更" %>
            <% end %>
            <td><%#= link_to "削除する", cart_path(@cart.id), method: :delete, class:"btn btn-danger" %></td>
        <%# end %>
      </tbody>
</table>