<h1>配送先登録/一覧</h1>

<%= form_with(model: @address, :url => {:controller => "customer/addresses"}, method: :post, local: true ) do |f| %>
  <div>
    <%= f.label :"郵便番号" %>
    <%= f.text_field :zipcode %>
  </div>
  <div>
    <%= f.label :"住所" %>
    <%= f.text_field :address%>
  </div>
  <div>
    <%= f.label :"宛名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit '登録する' %>
  </div>
<% end %>

<% if @addresses.present? %>
  <table>
    <thead>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td>
          <%= address.zipcode %>
        </td>
        <td>
          <%= address.address %>
        </td>
        <td>
          <%= address.name %>
        </td>
        <td>
          <%= link_to "編集する",edit_address_path(address) %>
        </td>
        <td>
          <%= link_to "削除する",address_path(address), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
