<header>
  <div class="container">
    <span>Logo</span>
    <ul>
      <% if customer_signed_in? %>
      <!--ログインしている場合-->
        <li><%= link_to 'マイページ', customer_path(current_customer) %></li>
        <li><%= link_to '商品一覧', items_path %></li>
        <li><%= link_to 'カート', carts_path %></li>
        <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
      <% else %>
      <!--ログインしていない場合-->
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to '商品一覧', items_path %></li>
        <li><%= link_to '新規登録', new_customer_registration_path %></li>
        <li><%= link_to 'ログイン', new_customer_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>